@import "mixin";

/* color */
$color_primary: #6da3c3;
$color_primary-light: #add5ec;

$color_white: #fff;
$color_black: #585b60;

$color_gray-label: #d9d9d9;
$color-gray-light: #ababab;
$color_gray: #898c92;

$color_negative: #ca6666;

$color_bus-gisin: #3b9f37;
$color_bus-gansun: #0d347f;
$color_bus-maeul: #6fb26c;
$color_bus-gonghang: #6ca8ce;
$color_bus-jikhaeng: #dd5c32;

/* spacing */
$spacing-3: 3rem;
$spacing-2: 2rem;
$spacing-1: 1rem;

/* font-size */
$fontsize-heading: 1.5rem;
$fontsize-body: 1.2rem;
$fontsize-caption_big: 1rem;
$fontsize-caption_small: 0.8rem;

/* font-family */
$font_family-gowun_dodum: "Gowun Dodum";

/* border-radius */
$border_radius-4: 4px;
