@import "styles/_variables.scss";

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(2px);
  }
  99% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content_wrapper {
  position: relative;
  width: 100%;
  animation: fadeIn 0.5s ease-in;
}

.image {
  width: 100%;
  height: auto;
  position: relative;
}

.text_wrapper {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  color: $color_black;

  @include flex(column, center, center);
  gap: $spacing-2;
}

.name_wrapper {
  width: 100%;
  font-size: $fontsize-heading;

  @include flex(row, center, center);
  gap: $fontsize-heading;

  > .patition {
    height: $fontsize-heading;
    width: 2px;
    background-color: $color_primary;
  }
}

.location_wrapper {
  @include flex(column, center, center);
  width: 100%;
  font-size: $fontsize-body;
  line-height: 2;
}
