@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap");
@import "@styles/_variables.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  background-color: $primary-color;
}

body {
  margin: 0;
}
