@mixin flex($j: flex-start, $a: center, $d: column) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

@mixin ellipse {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
